.circle{
    background-color: aqua;
    height:500px;
    width: 500px;
    border-radius: 5rem;
    position:absolute;
    left:-200px;
    top:-200px;
    border-radius: 15rem;
    animation: ball 6s linear infinite forwards;
}
.body{
    height:600px;
    width:1352px;
    position:relative;
    overflow:hidden;
    
}
body{
    margin:0;
}
@keyframes ball{
    0%{
        transform: translate(-200px,-200px);
    }
    50%{

    }
    70%{

    }
    100%{transform:translate(1452px,700px);

    }
}